.articleMain
  .titleMain
    font-size: 1.6rem
  .paragraphMain
    font-family: 'Labrada', sans-serif
    font-size: 1rem
  .detailsMain
    text-transform: uppercase
    font-size: .8rem
    .authorMain
      font-weight: 500

.articleShort
  &:not(:last-child)
    border-bottom: 1px solid gray
  .titleShort
    font-size: 1.6rem
  .paragraphShort
    font-family: 'Labrada', sans-serif
    font-size: 1rem
  .detailsShort
    text-transform: uppercase
    font-size: .8rem
    .authorShort
      font-weight: 500

.articleRegular,
.articleShort
  padding: 15px 0

.articleRegular
  width: 520px

.articleShort
  width: 350px
