.wrapper
  .header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 40px
    background-color: white
    border-bottom: 1px solid #FFD2FC
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
    h3
      font-size: 1.7rem
    ul
      display: flex
      gap: 20px
      li
        padding: .2em 0
      .link
        position: relative
        display: block
        font-size: 1.2rem
        font-weight: 400
        &:after
          content: ''
          position: absolute
          left: 0
          margin-top: 24px
          width: 100%
          height: .1em
          background-color: #3d7eee
          opacity: 0
          transition: opacity 300ms, transform 300ms
        &:hover::after
          opacity: 1
          transform: translate3d(0, .2em, 0)

    .lang
      background: transparent
      border: none
      &:hover
        cursor: pointer

    .user
      display: flex
      align-items: center
      gap: 15px
      border: none
      background: transparent
      &:hover
        cursor: pointer

  .main
    max-width: 1440px
    width: 100%
    margin: 0 auto
    margin-top: 96.38px

  .footer
    position: relative
    width: 100%
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    font-family: 'Labrada', sans-serif
    color: white
    background-color: #094074

.headerShow
  opacity: 1
  transform: translateY(0)
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out

.headerHide
  opacity: 0
  transform: translateY(-100%)
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out

.popoverItem
  border: none
  width: 100%
  padding: 5px
  &:hover
    cursor: pointer
.default
  color: black
  background-color: white
.dangerous
  color: white
  background-color: red
